

.widget_container {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
    background-color: rgb(132, 124, 187);
    width: 70%;
    max-width: 500px;
    font-weight: bold;
    padding: 1em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.points_container  {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.points_container label {
    font-size: 1.2rem;
}

.points_container input {
    border-radius: 5px;
    height: 30px;
    text-indent: 10px;
    width: 40%;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.start_location_container {
    padding: 1em 0;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 78%;
    font-size: 1.2rem;
    max-width: 500px;
}

select {
    background-color: white;
    width: 54%;
    height: 35px;
    border-radius: 5px;
    color: rgb(111, 108, 108);
}

option {
    font-weight: lighter;
    
}

button {
    background-color: #4c4cad; /* Dark Blue */
    border: 2px solid black;
    color: black; 
    text-align: center;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 1em;
    border-radius: 4px;
    width: 100%;
    margin: 0 auto;
  }
  
  button:hover {
    background-color: #0000FF; /* Blue */
    color: white;
  }

  .calculate_title {
    display: flex;
    width: 32%;
    justify-content: space-around;
    align-content: center;
  }

  .calculate_title img {
    align-self: center;
  }

  input[type="radio"], input[type="checkbox"] {
    transform: scale(1.7); /* Adjust the scale factor as needed */
    margin: 0.5em;
}

input[type="checkbox"] {
    border: 1px solid black;
}

.input_container {
    display: flex;
    justify-content: space-around;
}

.check_calculate {
    width: 50%;
}

.check_box {
    display: flex;
    justify-content: center;
    width: 80%;
    transform: scale(1.2)
}

.check_box h4 {
    margin-left: 1em;
}


.display_title {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.display_title img {
    align-self: center;
    margin-right: 1em;
}

.display_title h2 {
    text-decoration: underline;
}

.calculation_display {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.calculation_display div {
    width: 40%;
    height: 20px;
    background-color: rgb(166, 169, 169);
    align-self: center;
    border-radius: 5px;
}

.calculation_display div span {
    font-size: 1.2rem;
}